@{
    ViewBag.Title = "LoadNotifications";
}



<h2>Load Notifications</h2>
<label>Username:</label><input type="text" id="username" name="username" /><br />
<label>Text:</label><input type="text" id="text" name="text" /><br />
<label>Position:</label><input type="text" id="lat" name="lat" /><input type="text" id="lon" name="lon" /><br />
<input type="button" id="create" value="Create" /><br />
<br />
<input type="button" id="getnotifications" value="Get Notifications" />


<script language=javascript>
    $("#create").click(function () {
        $.post("/Home/AddNotification", {
            UserName: $("#username").val(),
            Text: $("#text").val(),
            Position: {
                Lat: $("#lat").val(),
                Lon: $("#lon").val()
            }
        });
    });

    $("#getnotifications").click(function () {
        $.ajax({
          url: "/Home/GetNotifications",
          dataType: 'json',
          data: {
            Position: {
                Lat: 45.000,
                Lon: 54.000
            }
          },
          success: function (data) {
            alert(data);
          }
        });
    });
</script>